{{> header}}

<div class="container" style="margin-bottom: 30px; margin-top: 30px; padding: 1px;">
  <!--<h2>Hello World!!!!</h2>
  <p>Welcome to my App</p>

  {{#if isDisplayName}}
  <p>My name is {{ name }} </p>

  {{else}}
  <p>No name found!!!</p>
  {{/if}}




  {{#if isAgeEnabled}}
  <p> I am {{age}}</p>

  {{else}}

  <p>No age provided!</p>


  {{/if}}


  {{calculation 50}}

  {{!-- This is a listing --}}
  {{#list people}}
  {{firstName}} {{lastName}}
  {{/list}}

  {{> footer}}




  {{! This is just a test}}
  {{{ test }}}

  {{ test }}-->



  <!--author: String, 
    date: Date, 
    title: String,
    description: String,
    likes: Number-->
  <div class="card border-header mb-3" style="max-width: 60rem; padding: 1px; object-fit: contain margin-top: 30px;">
    <div class="card-header" id="hasc">A.M MELENDEZ</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">WHERE THE WORLD BUILDS SOCIAL MEDIA</h4>
        <img src="https://miro.medium.com/max/1400/1*uU4FMNjbrr3QVOyQVH8fag.jpeg" style="object-fit: cover; width: 100%; height: 15vw; margin-bottom: 10px;" />
        <p class="card-text" style="margin-top: 10px; text-align: center;">Start uploading. Now.</p>
      </div>
  </div>
  <div class="col-md-60">
    {{#each posts}}
    <div class="card border-success mb-3"
      style="max-width: 60rem; padding: 1px; object-fit: contain">
      <div class="card-header">{{this.title}}</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">By {{this.author}}</h4>
        <img src={{this.url}} style="object-fit: cover; width: 100%; height: 15vw; margin-bottom: 10px;" />
        <p class="card-text" style="margin-top: 10px; text-align: center;">{{this.description}}</p>
      </div>
    </div>
    {{/each}}
  </div>

</div>