<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/alt/video-js-cdn.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/video.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/3.0.2/videojs-contrib-hls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Asap&family=Outfit:wght@700&family=Praise&family=Varela+Round&display=swap"
  rel="stylesheet">
{{> header}}
<script>
  /*$(document).ready(function() {
  $("#thebuts").on("click", function() {
    $("#video").html("<source src='"+ $("#https://storage.googleapis.com/jmquilez/11fb303b-b49c-4467-bc71-0de1385ecf7c/11fb303b-b49c-4467-bc71-0de1385ecf7c.m3u8").val() +"' type='application/x-mpegURL'>");
    var ply = videojs("video");
    ply.play();
  });
});*/
  /*$(document).ready(function() {
    $("#thebuts").on("click", function() {
      $("#video").html("<source src='https://storage.googleapis.com/jmquilez/11fb303b-b49c-4467-bc71-0de1385ecf7c/11fb303b-b49c-4467-bc71-0de1385ecf7c.m3u8' type='application/x-mpegURL'>");
      var ply = videojs("video");
      ply.play();
      console.log('play?')
    });
  });*/
  function playIt() {
    const dosc = document.getElementById("vids")
    if (dosc.paused) {
      dosc.play()
      console.log("plays")
    } else {
      dosc.pause()
      console.log("notplays")
    }
  }
  function doit() {
    console.log('doitaj!')
  }
  function createIt(id, url) {
    /*const thes = document.getElementById("therealvideo");
    $("#video").html("<source src='https://storage.googleapis.com/jmquilez/6dc7b303-b71f-426c-8eec-1c44aa052e8b/6dc7b303-b71f-426c-8eec-1c44aa052e8b.m3u8' type='application/x-mpegURL'>");
    var ply = videojs("video");
    ply.play();
    console.log('play?')*/
    function getOS() {
      var userAgent = window.navigator.userAgent,
        platform = window.navigator.platform,
        macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
        windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
        iosPlatforms = ['iPhone', 'iPad', 'iPod'],
        os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
        os = 'Mac OS';
      } else if (iosPlatforms.indexOf(platform) !== -1) {
        os = 'iOS';
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = 'Windows';
      } else if (/Android/.test(userAgent)) {
        os = 'Android';
      } else if (!os && /Linux/.test(platform)) {
        os = 'Linux';
      }

      return os;
    }

    alert(getOS());
    //if (Hls.isSupported()) {

    var video = document.getElementById(id);
    /*video.src = url;*/
    //video.type = 'application/x-mpegURL'
    if (video.paused == true) {
      $(`#${id}`).html(`<source src="${url}" type='application/x-mpegURL'>`);
      var vids = videojs(id);
      vids.play();
    }

    //var hls = new Hls();
    /*hls.loadSource(url);
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video.play();
    });*/
    /*var video2 = document.getElementById('video1');
    var hls2 = new Hls();
    hls2.loadSource('https://storage.googleapis.com/jmquilez/11fb303b-b49c-4467-bc71-0de1385ecf7c/11fb303b-b49c-4467-bc71-0de1385ecf7c.m3u8');
    hls2.attachMedia(video2);
    hls2.on(Hls.Events.MANIFEST_PARSED, function () {
      video2.play();
    });*/
    //}
    /*if (Hls.isSupported()) {
      //var video = document.getElementById('therealvideo');
      var hls = new Hls();
      hls.loadSource('https://storage.googleapis.com/jmquilez/11fb303b-b49c-4467-bc71-0de1385ecf7c/11fb303b-b49c-4467-bc71-0de1385ecf7c.m3u8');
      hls.attachMedia(thes);
      hls.on(Hls.Events.MANIFEST_PARSED, function () {
        thes.play();
      });
    }*/
    /*if (thes.paused) {
      thes.play()
    } else {
      thes.pause()
    }*/
  }
</script>
<script>

</script>
<div class="container <!--align-items-center justify-content-center-->align-items-center justify-content-center"
  style="margin-bottom: 30px; margin-top: 30px; margin-right: auto; margin-left: auto; width: 100rem; <!--display:flex; justify-content: center; flex-direction: column; align-items:center;-->">
  <!--<div class="container" style="margin-bottom: 30px; margin-top: 30px; display:flex; justify-content: center; flex-direction: column; align-items:center; margin-right: auto; margin-left: auto;  width: 80rem;">-->
  <!--<h2>Hello World!!!!</h2>
  <p>Welcome to my App</p>

  {{#if isDisplayName}}
  <p>My name is {{ name }} </p>

  {{else}}
  <p>No name found!!!</p>
  {{/if}}




  {{#if isAgeEnabled}}
  <p> I am {{age}}</p>

  {{else}}

  <p>No age provided!</p>


  {{/if}}


  {{calculation 50}}

  {{!-- This is a listing --}}
  {{#list people}}
  {{firstName}} {{lastName}}
  {{/list}}

  {{> footer}}




  {{! This is just a test}}
  {{{ test }}}

  {{ test }}-->



  <!--author: String, 
    date: Date, 
    title: String,
    description: String,
    likes: Number-->

  <div
    style="display:flex; justify-content: center; flex-direction: column; align-items:center; margin-right: auto; margin-left: auto;">
    <div class="card border-header mb-3" style="width: 60rem; padding: 1px; object-fit: contain;">
      <!--margin-top: 30px; display:flex; justify-content: center; flex-direction: column; align-items:center; margin-right: auto; margin-left: auto;-->
      <div class="card-header" style="font-family: 'Praise', cursive; font-size: 60px; text-align: center;">
        <!--id="hasc"-->{{name}}
      </div>
      <div class="card-body">
        <h4 class="card-title" style="text-align: center; font-family: 'Varela Round', sans-serif;">WHERE THE WORLD
          BUILDS SOCIAL MEDIA</h4>
        <img src="https://miro.medium.com/max/1400/1*uU4FMNjbrr3QVOyQVH8fag.jpeg"
          style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;" />
        <p class="card-text" style="margin-top: 10px; text-align: center; font-family: 'Asap', sans-serif;">Start
          uploading. Now.</p>
      </div>
    </div>
    {{#each posts}}
    {{#ifEquals this.filetype "image"}}
    <div class="card border-success mb-3" style="width: 30rem; padding: 1px; object-fit: contain;">
      <div class="card-header" style="font-family: 'Varela Round', sans-serif; font-size: x-large; text-align: center;">
        {{this.title}}</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align: center; font-family: 'Architects Daughter', cursive;">By
          {{this.author}}</h4>
        <img src={{this.url}} style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;" />
        <p class="card-text" style="margin-top: 10px; text-align: center; font-family: 'Asap', sans-serif;">
          {{this.description}}</p>
      </div>
    </div>
    {{else}}
    {{#ifEquals this.isHLSCoded false }}
    <div class="card border-success mb-3" style="width: 30rem; padding: 1px; object-fit: contain;">
      <div class="card-header" style="font-family: 'Varela Round', sans-serif; font-size: x-large; text-align: center;">
        {{this.title}}</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align: center; font-family: 'Architects Daughter', cursive;">By
          {{this.author}}</h4>
        <!--<video id="vids"-->
        <!--class="video" controls="true"-->
        <!--controls playsinline autoplay muted loop-->
        <!--preload="auto" type='video/{{this.extension}}; codecs="avc1.42E01E, mp4a.40.2"-->
        <!--style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;" >-->
        <!--<source src={{this.url}} type="video/{{this.extension}}">
        </video>-->
        <video controls playsinline autoplay muted loop
          style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;">
          <source type="video/{{this.extension}}" src={{this.url}}>
        </video>
        <p class="card-text" style="margin-top: 10px; text-align: center; font-family: 'Asap', sans-serif;">
          {{this.description}}</p>
        <!--<video src={{this.url}} autoplay muted></video>-->
      </div>
    </div>
    {{else}}

    <!--<video id="vids"-->
    <!--class="video" controls="true"-->
    <!--controls playsinline autoplay muted loop-->
    <!--preload="auto" type='video/{{this.extension}}; codecs="avc1.42E01E, mp4a.40.2"-->
    <!--style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;" >-->
    <!--<source src={{this.url}} type="video/{{this.extension}}">
        </video>-->
    <div class="card border-success mb-3" style="width: 30rem; padding: 1px; object-fit: contain;">
      <div class="card-header" style="font-family: 'Varela Round', sans-serif; font-size: x-large; text-align: center;">
        {{this.title}}</div>
      <div class="card-body" style="display: flex; flex-direction: column;">
        <h4 class="card-title" style="text-align: center; font-family: 'Architects Daughter', cursive;">By
          {{this.author}}</h4>
        <video id={{this.id}} class="video-js vjs-default-skin" preload="none" crossorigin="true" controls
          style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;">

          <!--class="video-js vjs-default-skin" preload="auto" crossorigin="true" controls width="640"
          height="268" controls-->
        </video>
        <!--<source type="application/x-mpegURL">-->

        <button type="button" class="btn btn-secondary" onclick="createIt('{{this.id}}', '{{this.url}}')"
          style="margin-left: auto; margin-right: auto;">Play video</button>




        <!--<button id="thebuts" onclick="createIt('{{this.id}}', '{{this.url}}')">pinch me</button>-->
        <!--<video src={{this.url}} autoplay muted></video>-->
        <p class="card-text" style="margin-top: 10px; text-align: center; font-family: 'Asap', sans-serif;">
          {{this.description}}</p>
      </div>
    </div>

    {{/ifEquals}}
    <!--<button type="button" onclick="playIt()" class="btn btn-primary">Primary</button>-->
    {{/ifEquals}}
    {{/each}}
    <!--<video id="video12" class="video-js vjs-default-skin" preload="auto" crossorigin="true" controls width="640"
      height="268" controls>-->
    </video>
  </div>

</div>

<!--<video id="video" class="video-js vjs-default-skin" preload="auto" crossorigin="true" controls width="640" height="268"
  controls>
</video>

<video id="video1" class="video-js vjs-default-skin" preload="auto" crossorigin="true" controls width="640" height="268"
  controls>
</video>-->