<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Asap&family=Outfit:wght@700&family=Praise&family=Varela+Round&display=swap"
  rel="stylesheet">
{{> header}}
<script>
  function playIt() {
    const dosc = document.getElementById("vids")
    if (dosc.paused) {
      dosc.play()
      console.log("plays")
    } else {
      dosc.pause
      console.log("notplays")
    }
  }
</script>
<div class="container <!--align-items-center justify-content-center-->align-items-center justify-content-center" style="margin-bottom: 30px; margin-top: 30px; margin-right: auto; margin-left: auto; <!--display:flex; justify-content: center; flex-direction: column; align-items:center;-->">
<!--<div class="container" style="margin-bottom: 30px; margin-top: 30px; display:flex; justify-content: center; flex-direction: column; align-items:center; margin-right: auto; margin-left: auto;  width: 80rem;">-->
  <!--<h2>Hello World!!!!</h2>
  <p>Welcome to my App</p>

  {{#if isDisplayName}}
  <p>My name is {{ name }} </p>

  {{else}}
  <p>No name found!!!</p>
  {{/if}}




  {{#if isAgeEnabled}}
  <p> I am {{age}}</p>

  {{else}}

  <p>No age provided!</p>


  {{/if}}


  {{calculation 50}}

  {{!-- This is a listing --}}
  {{#list people}}
  {{firstName}} {{lastName}}
  {{/list}}

  {{> footer}}




  {{! This is just a test}}
  {{{ test }}}

  {{ test }}-->



  <!--author: String, 
    date: Date, 
    title: String,
    description: String,
    likes: Number-->
  <div class="card border-header mb-3" style="width: 60rem; padding: 1px; object-fit: contain margin-top: 30px; display:flex; justify-content: center; flex-direction: column; align-items:center; margin-right: auto; margin-left: auto;">
    <div class="card-header" id="hasc" style="font-family: 'Praise', cursive; font-size: 60px;">JMQUILEZ</div>
    <div class="card-body">
      <h4 class="card-title" style="text-align: center; font-family: 'Varela Round', sans-serif;">WHERE THE WORLD BUILDS SOCIAL MEDIA</h4>
      <img src="https://miro.medium.com/max/1400/1*uU4FMNjbrr3QVOyQVH8fag.jpeg"
        style="object-fit: cover; width: 100%; height: 15vw; margin-bottom: 10px;" />
      <p class="card-text" style="margin-top: 10px; text-align: center; font-family: 'Asap', sans-serif;">Start uploading. Now.</p>
    </div>
  </div>
  <div style="display:flex; justify-content: center; flex-direction: column; align-items:center; margin-right: auto; margin-left: auto;">
    {{#each posts}}
    {{#ifEquals this.filetype "image"}}
    <div class="card border-success mb-3" style="width: 60rem; padding: 1px; object-fit: contain;">
      <div class="card-header" style="font-family: 'Varela Round', sans-serif; font-size: x-large; text-align: center;">
        {{this.title}}</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align: center; font-family: 'Architects Daughter', cursive;">By
          {{this.author}}</h4>
        <img src={{this.url}} style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;" />
        <p class="card-text" style="margin-top: 10px; text-align: center; font-family: 'Asap', sans-serif;">
          {{this.description}}</p>
      </div>
    </div>
    {{else}}
    <div class="card border-success mb-3" style="width: 60rem; padding: 1px; object-fit: contain;">
      <div class="card-header" style="font-family: 'Varela Round', sans-serif; font-size: x-large; text-align: center;">
        {{this.title}}</div>
      <div class="card-body">
        <h4 class="card-title" style="text-align: center; font-family: 'Architects Daughter', cursive;">By
          {{this.author}}</h4>
        <!--<video id="vids"--> <!--class="video" controls="true"--> <!--controls playsinline autoplay muted loop--> <!--preload="auto" type='video/{{this.extension}}; codecs="avc1.42E01E, mp4a.40.2"--> <!--style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;" >-->
          <!--<source src={{this.url}} type="video/{{this.extension}}">
        </video>-->
        <video controls playsinline autoplay muted loop
                    style="object-fit: contain; width: 100%; height: 15vw; margin-bottom: 10px;">
                    <source src={{this.url}} type="video/{{this.extension}}">
        </video>
        <p class="card-text" style="margin-top: 10px; text-align: center; font-family: 'Asap', sans-serif;">
          {{this.description}}</p>
        <!--<video src={{this.url}} autoplay muted></video>-->
      </div>
    </div>
    <!--<button type="button" onclick="playIt()" class="btn btn-primary">Primary</button>-->
    {{/ifEquals}}
    {{/each}}
  </div>

</div>