<!--<div class="container-fluid" style="margin:0px !important;">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<link
    href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Asap&family=Cairo:wght@300&family=Comfortaa&family=Lobster&family=Outfit:wght@700&family=Praise&family=Varela+Round&display=swap"
    rel="stylesheet">

<script>
    function createIt(id, url, nail) {
        console.log('nail');
        console.log(nail)
        function getOS() {
            var userAgent = window.navigator.userAgent,
                platform = window.navigator.platform,
                macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
                windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
                iosPlatforms = ['iPhone', 'iPad', 'iPod'],
                os = null;

            if (macosPlatforms.indexOf(platform) !== -1) {
                os = 'Mac OS';
            } else if (iosPlatforms.indexOf(platform) !== -1) {
                os = 'iOS';
            } else if (windowsPlatforms.indexOf(platform) !== -1) {
                os = 'Windows';
            } else if (/Android/.test(userAgent)) {
                os = 'Android';
            } else if (!os && /Linux/.test(platform)) {
                os = 'Linux';
            }

            return os;
        }

        alert(getOS());


        var video = document.getElementById(id);
        video.setAttribute("controls", "controls");
        var span = video.firstChild;
        console.log('span element: ' + span.id);
        span.remove();

        if (video.paused == true) {
            $(`#${id}`).html(`<source src="${url}" type='application/x-mpegURL'>`);

            var vids = videojs(id);
            vids.on('error', (err) => {
                console.log('player error: ');
                console.log(err);
            });
            vids.play();
        }
    }

</script>
<div class="container align-items-center justify-content-center"
    style="padding: 1px; margin-bottom: 30px; margin-top: 30px; margin-right:auto; margin-left:auto; align-items: center; justify-content: center;">
    <div class="card border-info mb-3" style="max-width: 100rem; padding: 1px; margin-top: 20px;">
        <div class="card-header" style="text-align: center; font-family: 'Lobster', cursive; font-size: 60px;">
            {{name}}</div>
        <div class="card-body">
            <h4 class="card-title" style="text-align: center; font-family: 'Cairo', sans-serif;">{{user_name}}</h4>
            <p class="card-text" style="font-family: 'Comfortaa', cursive;">Quisque nec dolor et ex suscipit
                vulputate. Nulla condimentum tincidunt mollis. Proin et eros sit amet augue dapibus feugiat. Mauris
                iaculis, lorem vel blandit dapibus, ex risus placerat turpis, non congue libero urna sit amet nisl.
                Sed a magna pulvinar, auctor est quis, egestas quam. Praesent rhoncus leo quis interdum facilisis.
                Aliquam scelerisque, eros in dapibus porta, ipsum mi vehicula ligula, vitae tincidunt nibh velit non
                elit. Donec tincidunt malesuada diam id viverra. Mauris id facilisis urna, sed dignissim dui. Proin
                vulputate dictum purus ac aliquet. Cras auctor dolor at semper luctus. Nunc vitae consequat libero,
                at porta nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras hendrerit magna
                volutpat dui rhoncus varius.</p>
        </div>
    </div>
    <div class="col-md-60 align-items-center justify-content-center"
        style="align-items: center; justify-content: center; margin-right: auto; margin-left: auto;">
        <div class="card mt-2" style="width: 55rem; margin-right: auto; margin-left: auto;">
            <div class="card-header" style="text-align: center;">
                <h3 style="padding: 1px; margin-left: 10px; height: 40px; line-height: 50px;"><i class="far fa-images"
                        style="margin-right: 10px;"></i>Every
                    upload yet</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {{#each postal}}
                    {{#ifEquals this.filetype "image"}}
                    <div class="col-md-4">
                        <div class="card border-success" class="w-100 h-100"
                            style="padding: 1px; object-fit: contain; margin-bottom: 20px;">
                            <!--style="width: 30rem; padding: 1px; object-fit: contain;">-->
                            
                                <div class="card-header"
                                    style="font-family: 'Varela Round', sans-serif; font-size: {{this.text_size}}; text-align: center; height: 60px; display: table-cell; line-height: 35px;">
                                    <a href="/posts/{{this.id}}" class="w-100 h-100" style="text-decoration: none;">{{this.title}}</a></div>
                            
                            <div class="card-body">
                                <h4 class="card-title"
                                    style="margin-top: -15px; text-align: center; font-family: 'Architects Daughter', cursive; font-size: {{this.author_size}}; height: 27px; line-height: 30px;">
                                    By
                                    {{this.author}}</h4>
                                <span id='{{this.id}}span' onclick="this.onclick=null;"
                                    style="width: 84.5%; height: 90px; margin-top: 0px; background-color: transparent;">
                                    <img src={{this.url}}
                                        style="object-fit: contain; width: 100%; height: 90px; max-height: 90px; margin-bottom: 0px;"
                                        class="w-90 h-90" />
                                </span>
                            </div>
                        </div>
                    </div>

                    {{else}}
                    {{#ifEquals this.isHLSCoded false }}
                    <div class="col-md-4">
                        <div class="card border-success mb-3" class="w-100 h-100"
                            style="padding: 1px; object-fit: contain; margin-bottom: 20px;">
                            <!--style="width: 30rem; padding: 1px; object-fit: contain;">-->
                            
                                <div class="card-header"
                                    style="font-family: 'Varela Round', sans-serif; font-size: {{this.text_size}}; text-align: center; height: 60px; display: table-cell; line-height: 35px;">
                                    <a href="/posts/{{this.id}}" class="w-100 h-100" style="text-decoration: none;">{{this.title}}</a></div>
                            
                            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">

                                <h4 class="card-title"
                                    style="margin-top: -15px; text-align: center; font-family: 'Architects Daughter', cursive; font-size: {{this.author_size}}; height: 27px; line-height: 30px;">
                                    By
                                    {{this.author}}</h4>
                                <span id='{{this.id}}span' onclick="this.onclick=null;"
                                    style="width: 84.5%; height: 90px; margin-top: 0px; background-color: transparent;">
                                    <video controls playsinline loop class="w-90 h-90"
                                        style="object-fit: contain; width: 100%; height: 90px; max-height: 90px; margin-bottom: 0px;"
                                        poster={{this.thumbURL}}>
                                        <!--<source type="video/x-mpegURL" src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">-->
                                        <source type="video/{{this.extension}}" src={{this.url}}>
                                    </video>
                                </span>
                            </div>
                        </div>
                    </div>

                    {{else}}

                    <div class="col-md-4">
                        <div class="card border-success mb-3" class="w-100 h-100"
                            style="padding: 1px; object-fit: contain; margin-bottom: 20px;">
                            <!--style="width: 30rem; padding: 1px; object-fit: contain;"-->
                            
                                <div class="card-header"
                                    style="font-family: 'Varela Round', sans-serif; font-size: {{this.text_size}}; text-align: center; height: 60px; display: table-cell; line-height: 35px;">
                                    <a href="/posts/{{this.id}}" class="w-100 h-100" style="text-decoration: none;">{{this.title}}</a></div>
                            
                            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
                                <h4 class="card-title"
                                    style="margin-top: -15px; text-align: center; font-family: 'Architects Daughter', cursive; font-size: {{this.author_size}}; height: 27px; line-height: 30px;">
                                    By
                                    {{this.author}}</h4>

                                <span id='{{this.id}}span'
                                    onclick="createIt('{{this.id}}', '{{this.url}}', '{{this.thumbURL}}'); this.onclick=null;"
                                    style="width: 100%; height: 90px; margin-top: 0px; background-color: transparent;">
                                    <video playsinline muted loop class="video-js vjs-theme-sea w-90 h-90" preload="none" 
                                        crossorigin="true"
                                        style="object-fit: contain; width: 100%; height: 100%; max-height: 90px; margin-bottom: 0px; background-color: transparent;"
                                        id={{this.id}} poster={{this.thumbURL}}>

                                    </video>
                                    <!--data-setup='{"fluid": true}'-->
                                </span>
                            </div>
                        </div>
                    </div>


                    {{/ifEquals}}
                    <!--<button type="button" onclick="playIt()" class="btn btn-primary">Primary</button>-->
                    {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->

</div>